<h1>Stupid Coaching</h1></br>

<form action="/answer">
  <label for="question">Ask your coach anything:</label></br></br>
  <input class="input_form" type="text" name="question" id="question">
  <input class="input_button" type="submit" value="Ask!">
</form>
